div {
  background-color: #eee;
  padding: 20px;
  width: 500px;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  text-shadow: 1px 1px 0 red, 2px 2px 0 purple, 4px 4px 0 purple;
}
