div {
    width: 400px;
    height: 400px;
    background-image: url("../images/background-01.png");
    margin: 5px;
    background-color: #ddd;
}
.assign-4-shape-1 {
    background-repeat: no-repeat;
    background-size: 80%;
}
.assign-4-shape-2 {
    background-repeat: repeat-y;
    background-size: 80% auto ;
    background-position: right;
}
.assign-4-shape-3 {
    background-repeat: repeat-x;
    background-size: auto 80%;
    background-position: bottom;
}
.assign-4-shape-4 {
    background-repeat: no-repeat;
    background-position: right bottom;
}
#sample04 {
    background-image: none;
    background-color: #ddd;
    padding: 10px;
    width: 860px;
    height: 865px;
    margin: auto;
}