div {
  background-color: #efefef;
  width: 300px;
  margin: 10px;
  padding: 5px;
  font-size: x-large;
}

.one {
  text-transform: uppercase;
}

.two {
  text-transform: capitalize;
}

.three {
  text-transform: lowercase;
}
